@import url(https://fonts.googleapis.com/css?family=Ubuntu:400,300,700);
@import url(https://fonts.googleapis.com/css?family=PT+Sans:400,700);



body,
input,
textarea,
.mbr-company .list-group-text {
  font-family: 'PT Sans', sans-serif;
}
.mbr-footer-content li,
.mbr-footer .mbr-contacts li {
  font-family: 'PT Sans', sans-serif;
}
.btn,
.alert,
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
.display-1,
.display-2,
.display-3,
.display-4,
.mbr-figure .mbr-figure-caption,
.mbr-gallery-title,
.mbr-map [data-state-details],
.mbr-price {
  font-family: 'Ubuntu', sans-serif;
}
.mbr-footer-content h1,
.mbr-footer .mbr-contacts h1,
.mbr-footer-content h2,
.mbr-footer .mbr-contacts h2,
.mbr-footer-content h3,
.mbr-footer .mbr-contacts h3,
.mbr-footer-content h4,
.mbr-footer .mbr-contacts h4,
.mbr-footer-content p strong,
.mbr-footer .mbr-contacts p strong,
.mbr-footer-content strong,
.mbr-footer .mbr-contacts strong {
  font-family: 'Ubuntu', sans-serif;
}
.btn {
  border-radius: 1.6em;
}
.mbr-subscribe .btn {
  border-radius: 1.6em !important;
}
.btn-sm,
.lead a,
.lead blockquote,
.mbr-section-subtitle,
.mbr-section-hero .mbr-section-lead,
.mbr-cards .card-subtitle,
.mbr-testimonial .card-block {
  font-family: 'PT Sans', sans-serif;
  font-style: normal;
}
.mbr-author-name {
  font-family: 'Ubuntu', sans-serif;
}
.mbr-author-desc {
  font-family: 'PT Sans', sans-serif;
  font-style: normal;
}
.mbr-plan-title {
  font-family: 'Ubuntu', sans-serif;
}
.mbr-plan-subtitle,
.mbr-plan-price-desc {
  font-family: 'PT Sans', sans-serif;
  font-style: normal;
}
.bg-primary {
  background-color: #faa61c !important;
}
.bg-success {
  background-color: #07a20a !important;
}
.bg-info {
  background-color: #0a89c9 !important;
}
.bg-warning {
  background-color: #f3c649 !important;
}
.bg-danger {
  background-color: #d61919 !important;
}
.btn-primary {
  background-color: #faa61c;
  border-color: #faa61c;
  color: #ffffff;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:active,
.btn-primary.active {
  color: #ffffff;
  background-color: #c57c04;
  border-color: #c57c04;
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #c57c04 !important;
  border-color: #c57c04 !important;
}
.btn-secondary {
  background-color: #000000;
  border-color: #000000;
  color: #ffffff;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary:active,
.btn-secondary.active {
  color: #ffffff;
  background-color: #000000;
  border-color: #000000;
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-info {
  background-color: #0a89c9;
  border-color: #0a89c9;
  color: #ffffff;
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info:active,
.btn-info.active {
  color: #ffffff;
  background-color: #065780;
  border-color: #065780;
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #065780 !important;
  border-color: #065780 !important;
}
.btn-success {
  background-color: #07a20a;
  border-color: #07a20a;
  color: #ffffff;
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success:active,
.btn-success.active {
  color: #ffffff;
  background-color: #045905;
  border-color: #045905;
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff !important;
  background-color: #045905 !important;
  border-color: #045905 !important;
}
.btn-warning {
  background-color: #f3c649;
  border-color: #f3c649;
  color: #ffffff;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning:active,
.btn-warning.active {
  color: #ffffff;
  background-color: #e1a90f;
  border-color: #e1a90f;
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #ffffff !important;
  background-color: #e1a90f !important;
  border-color: #e1a90f !important;
}
.btn-danger {
  background-color: #d61919;
  border-color: #d61919;
  color: #ffffff;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger:active,
.btn-danger.active {
  color: #ffffff;
  background-color: #921111;
  border-color: #921111;
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #921111 !important;
  border-color: #921111 !important;
}
.btn-primary-outline {
  background: none;
  border-color: #ac6c04;
  color: #ac6c04;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline:active,
.btn-primary-outline.active {
  color: #ffffff;
  background-color: #faa61c;
  border-color: #faa61c;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #faa61c !important;
  border-color: #faa61c !important;
}
.btn-secondary-outline {
  background: none;
  border-color: #000000;
  color: #000000;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline:active,
.btn-secondary-outline.active {
  color: #ffffff;
  background-color: #000000;
  border-color: #000000;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-info-outline {
  background: none;
  border-color: #054768;
  color: #054768;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline:active,
.btn-info-outline.active {
  color: #ffffff;
  background-color: #0a89c9;
  border-color: #0a89c9;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #0a89c9 !important;
  border-color: #0a89c9 !important;
}
.btn-success-outline {
  background: none;
  border-color: #034004;
  color: #034004;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline:active,
.btn-success-outline.active {
  color: #ffffff;
  background-color: #07a20a;
  border-color: #07a20a;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #07a20a !important;
  border-color: #07a20a !important;
}
.btn-warning-outline {
  background: none;
  border-color: #c9970d;
  color: #c9970d;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline:active,
.btn-warning-outline.active {
  color: #ffffff;
  background-color: #f3c649;
  border-color: #f3c649;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #ffffff !important;
  background-color: #f3c649 !important;
  border-color: #f3c649 !important;
}
.btn-danger-outline {
  background: none;
  border-color: #7b0e0e;
  color: #7b0e0e;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline:active,
.btn-danger-outline.active {
  color: #ffffff;
  background-color: #d61919;
  border-color: #d61919;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #d61919 !important;
  border-color: #d61919 !important;
}
.text-primary {
  color: #faa61c !important;
}
.text-success {
  color: #07a20a !important;
}
.text-info {
  color: #0a89c9 !important;
}
.text-warning {
  color: #f3c649 !important;
}
.text-danger {
  color: #d61919 !important;
}
.alert-success {
  background-color: #07a20a;
}
.alert-info {
  background-color: #0a89c9;
}
.alert-warning {
  background-color: #f3c649;
}
.alert-danger {
  background-color: #d61919;
}
.btn-social {
  border-color: #faa61c;
}
.btn-social:hover {
  background: #faa61c;
}
.mbr-company .list-group-item.active .list-group-text {
  color: #faa61c;
}
.mbr-footer p a,
.mbr-footer ul a {
  color: #faa61c;
}
.mbr-footer-content li::before,
.mbr-footer .mbr-contacts li::before {
  background: #faa61c;
}
.mbr-footer-content li a:hover,
.mbr-footer .mbr-contacts li a:hover {
  color: #faa61c;
}
.lead a,
.lead a:hover {
  color: #faa61c;
}
.lead blockquote {
  border-color: #faa61c;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #fef4e4;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #32f636;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #a5defa;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #f8c3c3;
}
.mbr-small-footer a,
.mbr-gallery-filter li:hover {
  color: #faa61c;
}
.scrollToTop_wraper {
  display: none;
}
#header5-2 .mbr-section-title {
  color: #ffffff;
}
#header5-2 .mbr-section-lead {
  color: #ffffff;
}
#msg-box2-16 .mbr-section-title {
  color: #fff;
}
#msg-box2-16 .mbr-section-subtitle {
  color: #ffffff;
}
#header3-9 .mbr-section-title,
#header3-9 .mbr-section-subtitle {
  text-align: center;
}
#header3-9 H3 {
  font-size: 48px;
}
#header3-a .mbr-section-title,
#header3-a .mbr-section-subtitle {
  text-align: center;
}
#header3-a H3 {
  font-size: 48px;
}
#header3-12 .mbr-section-title,
#header3-12 .mbr-section-subtitle {
  text-align: center;
}
#features4-11 .card-subtitle {
  color: #787878;
  font-size: 16px;
}
#features4-11 .iconbox {
  background-color: #ffffff;
  border-color: #ffffff;
}
#features4-11 H4 {
  font-size: 21px;
}
#testimonials1-13 .card-footer > small {
  color: #787878;
}
#qdFormContact .form-control-label {
  color: #232323;
}
#qdFormContact .mbr-section-title {
  font-size: 48px;
}
#contacts1-p P {
  color: #ffffff;
}
#ext_menu-14 .hide-buttons .nav-btn {
  display: none !important;
}
#ext_menu-14 .navbar-caption {
  color: #ffffff;
}
#ext_menu-14 .navbar-toggler {
  color: #ffffff;
}
#ext_menu-14 .close-icon::before,
#ext_menu-14 .close-icon::after {
  background-color: #ffffff;
}
#ext_menu-14 .link,
#ext_menu-14 .dropdown-item {
  color: #ffffff;
}
#ext_menu-14 .link {
  font-size: 0.75rem;
}
#ext_menu-14 .dropdown-item,
#ext_menu-14 .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#ext_menu-14 .link:hover,
#ext_menu-14 .dropdown-item:hover,
#ext_menu-14 .link:focus,
#ext_menu-14 .dropdown-item:focus {
  color: #faa61c;
}
#ext_menu-14 .link[aria-expanded="true"],
#ext_menu-14 .dropdown-menu {
  background: #0e0e0e;
}
#ext_menu-14 .nav-dropdown-sm .link:focus,
#ext_menu-14 .nav-dropdown-sm .link:hover,
#ext_menu-14 .nav-dropdown-sm .dropdown-item:focus,
#ext_menu-14 .nav-dropdown-sm .dropdown-item:hover {
  background: #202020!important;
}
#ext_menu-14 .navbar,
#ext_menu-14 .nav-dropdown-sm,
#ext_menu-14 .nav-dropdown-sm .link[aria-expanded="true"],
#ext_menu-14 .nav-dropdown-sm .dropdown-menu {
  background: #282828;
}
#ext_menu-14 .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#ext_menu-14 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#ext_menu-14 .bg-color.transparent.opened .link:hover,
#ext_menu-14 .bg-color.transparent.opened .link:focus {
  color: #faa61c;
}
#ext_menu-14 .link[aria-expanded="true"],
#ext_menu-14 .dropdown-item[aria-expanded="true"] {
  color: #faa61c!important;
}
